@model OnlineCakeShop.Models.Contact

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/contact.css">
<link rel="stylesheet" href="~/css/site.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">

<h4>
    Leave Us A Message Here
    <hr style="border: 1px solid #0066CC;" />
</h4>
<body>
    <header>
        <div class="row">
            <div class="col-md-4">
                <form action="https://formsubmit.co/buca.elizabetha@gmail.com" method="POST" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ContactEmail" class="control-label"></label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactMessage" class="control-label"></label>
                        <textarea asp-for="ContactMessage" class="form-control">Ceva</textarea>
                        <span asp-validation-for="ContactMessage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send message" class="btn btn-primary" onclick="contact()" />
                    </div>
                    <script>
                        function contact() {
                            alert("Message sent!");
                        }
                    </script>
                    <br />
                    <button><a href="/Home/Index">Back to home page</a></button>
                </form>
            </div>
        </div>
        <div class="contentText">
            <b>
                For any other issues you can call us or provide us with the following information and we will be happy to get back to you as soon as possible.
                <br />
                **To ensure that we fully satisfy our customers, we are unable to take custom orders via email. If you have a custom order, please feel free to call us at 850.386.2253 during regular business hours or go to our page named CustomCakes.
            </b>
        </div>
    </header>

</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
